body {
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
}

.slides {
  background-color: #f1c40f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: #34495e;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

code {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: #2980b9;
}

.slides > slide {
  background-image: url("https://i.imgur.com/4LwQKsW.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px;
}

slide:not(.nobackground) {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
